.registration-form {
    border-radius: 5px;
    border: none;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::ng-deep dx-button#login-btn,
::ng-deep dx-button#register-btn {
    background: #fff !important;
}

::ng-deep dx-button#login-btn:hover {
    background: #a9d0f098 !important;
}

::ng-deep dx-button#register-btn:hover {
    background: #9cc49c94 !important;
}